<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar bg-light fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "noun-movies-3810377.png", class: "nav-logo" %>
        <% end %>
      <p>
        <%= link_to "My lists", lists_path, class: "link nav" %>
      </p>
      <p>
        <%= link_to "New list", new_list_path, class: "link nav" %>
      </p>
      </div>
    </nav>
    <%= yield %>
    <div class="footer margin">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>
